{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <h2>{{'안녕하세요! ' + user.nick + '님'}}</h2>
    <div id="date">
    </div>
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const date = document.getElementById('date')
    date.innerHTML = Date().toString();

    console.log(datestr);
  </script>
{% endblock %}